<!-- eslint-disable vue/no-parsing-error -->
<template>
  <div class="root-form-login">
    <div class="login-nav">
      <h1 class="login-nav-title">Login</h1>
      <b-icon variant="primary" class="camera" icon="camera-fill" font-scale="7.5" />
    </div>
    <div class="root-form-login-container">
      <div class="form">
        <form v-if="tabSelected === 'login'" class="login">
          <h2 class="form-title">Login</h2>
          <div class="form-container">
            <div class="form-input">
              <div class="mt-2 text">Email: </div>
              <b-form-input v-model="email" class="email" placeholder="Enter your email" />
            </div>
            <div class="form-input">
              <div class="mt-2 text">Password: </div>
              <b-form-input
                :key="passwordType"
                ref="password"
                v-model="password"
                :type="passwordType"
                class="password"
                placeholder="Enter password"
              />
              <span class="show-pwd eye-icon" @click="showPwd">
                <b-icon font-scale="1.5" :icon="passwordType === 'password' ? 'eye-slash' : 'eye'" />
              </span>
            </div>
          </div>
          <div class="change-register text">
            <li>You don't have an account?</li>
            <li class="registerTab" @click="changetab('register')">
              Register
            </li>
          </div>
          <b-button class="btn-login" type="submit" @click="handleLogin()">Login</b-button>
        </form>
        <form v-else class="register form-register">
          <h2 class="form-title">Register</h2>
          <div class="form-input">
            <div class="mt-2 text">FullName:</div>
            <b-form-input v-model="fullName" class="fullName" placeholder="Enter you name" />
          </div>
          <div class="form-input">
            <div class="mt-2">Email: </div>
            <b-form-input v-model="emailRegister" class="emailRegister" placeholder="Enter Email" />
          </div>
          <div class="form-input">
            <div class="mt-2">Password: </div>
            <b-form-input
              :key="passwordType"
              v-model="passwordRegister"
              :type="passwordType"
              class="password passwordRegister"
              placeholder="Enter password"
            />
          </div>
          <div class="form-input">
            <div class="mt-2">Confirm Password:</div>
            <b-form-input
              :key="passwordType"
              ref="password "
              v-model="confirmPassword"
              :type="passwordType"
              placeholder="Enter confirm password"
            />
            <span class="show-pwd eye-icon" @click="showPwd">
              <b-icon font-scale="1.5" :icon="passwordType === 'password' ? 'eye-slash' : 'eye'" />
            </span>
          </div>
          <div class="change-register text">
            <li>Do you already have an account ?</li>
            <li class="loginTab" @click="changetab('login')">
              Login
            </li>
          </div>
          <b-button class="btn-login btn-register" type="submit" @click="handleRegister()">Register</b-button>
        </form>
      </div>
      <div class="logo-large">
        <b-icon class="logo-large-logo" icon="camera-fill" variant="light" font-scale="20" />
        <P class="title-text">Online Order for Digital Photo Printing</P>
      </div>
    </div>
  </div>
</template>
<script>
import Axios from 'axios'
import { validEmail } from '@/utils/validate'
export default {
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error('Please enter the correct user name'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('The password can not be less than 6 digits'))
      } else {
        callback()
      }
    }
    return {
      tabSelected: 'login',
      fullName: '',
      email: '',
      password: '',
      emailRegister: '',
      passwordRegister: '',
      confirmPassword: '',
      passwordType: 'password',
      msg: [],
      loginRules: {
        email: [{ required: true, trigger: 'blur', validator: validateEmail }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      }
    }
  },

  methods: {
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = 'text'
      } else {
        this.passwordType = 'password'
      }
      // this.$nextTick(() => {
      //   this.$refs.password.focus()
      // })
    },
    changetab(tab) {
      this.tabSelected = tab
    },
    handleLogin: () => {
      const emailInput = document.querySelector('.email').value
      const passwordInput = document.querySelector('.password').value
      const data = {
        email: emailInput,
        password: passwordInput
      }
      console.log(data.email)
      console.log(data.password)
      try {
        const response = Axios.post('https://localhost:7107/api/Auth/login', data)
        if (response != null) {
          const dataRes = response.data
          console.log(dataRes.data)
          localStorage.setItem('accessToken', dataRes.data.accessToken)
          const userprofile = JSON.stringify(dataRes.data.userDto)
          console.log(userprofile)
          localStorage.setItem('profile', userprofile)

          return dataRes
        }
      } catch (error) {
        console.log(error.error)
      }
    },
    handleRegister: async() => {
      const fullNameInput = document.querySelector('.fullName').value
      const emailInput = document.querySelector('.emailRegister').value
      const passwordInput = document.querySelector('.passwordRegister').value
      const data = {
        fullname: fullNameInput,
        email: emailInput,
        password: passwordInput
      }
      try {
        const res = await Axios.post('https://localhost:7107/api/Auth/register', data)
        if (res != null) {
          const dataRes = await res.data.data
          console.log(dataRes)
          // localStorage.setItem('accessToken', dataRes.data.accessToken)
          // const userprofile = JSON.stringify(dataRes.data.userDto)
          // localStorage.setItem('profile', userprofile)
          console.log('register success')
          return dataRes
        }
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
<style lang="scss">

.root-form-login-container {
  background-image: url(../../../../assets/util_images/img-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 85vh;
  color: #131313;
  display: flex;
  align-items: center;;
}
li{
  list-style: none;
}
.registerTab,.loginTab{
  color: #061ffd;
  cursor: pointer;
  padding-left: 5px;
}
.change-register{
  display: flex;
  flex-direction: row;
}
.login{
  display: flex;
  flex-direction: column;
}
.form{
  border: 1px solid #fcfcfc;
  background-color: rgba($color: #fcfcfc, $alpha: 0.85);
  width: 30%;
  height: 60%;
  position: absolute;
  left: 0;
  border-radius: 1.5rem;
  margin-left: 4rem;
  box-shadow: 0 5px 10px 0;
}
.form-input{
  display: flex;
  flex-direction: column;
  padding: 5px 15px;
}
.change-register{
  padding: 5px;
}
.text{
  padding-left: 15px;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.7;
}
.btn-login{
  margin: auto;
  width: 28vw;
  background-color:#0d6efd;
  font-weight: 700;

}
.btn-login:hover{
  background-color: #79adfa ;
  transition: 0.3s;
}
.login-nav{
  height: 15vh;
  display: flex;
  flex-direction: row;
  margin: auto 5rem ;
  justify-content: right;

}
.login-nav-title{
  display: flex;
  align-items: center;
  padding-right: 4rem;
  color: #0d6efd;
  font-weight: 900;
}
.logo-large-logo{
  position: absolute;
  right: 0;
  top: 30vh;
  margin-right: 25rem;
  opacity: 0.95;
}
.title-text{
  color: #ffffff;
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  right: 0;
  top: 30vh;
  margin-right: 15rem;
  margin-top: 20rem;
}
.form-title{
  display: flex;
  justify-content:center ;
  font-weight: 700;
  padding-top: 5px;
  opacity: 0.7;
}
.btn-register{
  display: flex;
  justify-content: center;
}
.eye-icon{
  padding-top: 5px;
  padding-left: 5px;
}
.form-register{
  height: 55vh;
}
</style>
