<template>
  <div style="width: auto; padding: 0; margin: 0">
    <div class="row">
      <div class="col-12">
        <router-link :to="{ path: '/order' }">
          <svg-icon icon-class="qq" class="action-btn" />
        </router-link>
      </div>
    </div>
    <div class="row mt-3">
      <img
        src="../../assets/util_images/img.png"
      >
    </div>
    <div class="row text-center mt-5">
      <h4>Get Prints in a Range of Sizes & Prices</h4>
      <span>Plus, easily start your print pickup or download the app to enjoy more prints <br> for free</span>
    </div>
    <div class="row mt-5">
      <div class="d-flex justify-content-between">
        <img
          style="width: 480px; height: 423px"
          src="../../assets/util_images/img_1.png"
        >
        <img
          style="width: 480px; height: 423px"
          src="../../assets/util_images/img_2.png"
        >
        <img
          style="width: 480px; height: 423px"
          src="../../assets/util_images/img_3.png"
        >
      </div>
    </div>
    <div class="row mt-5 ms-4">
      <div class="col-3">
        <div class="text-center">Standard Prints</div>
        <div class="justify-content-around">
          <div class="d-flex justify-content-around text-decoration-underline">
            <span>Size</span>
            <span>Glossy/Matte</span>
          </div>
          <div class="d-flex justify-content-around">
            <ul>
              <li>4x6</li>
              <li>5x7</li>
              <li>8x10</li>
            </ul>
            <ul>
              <li>$0.18</li>
              <li>$0.18</li>
              <li>$0.18</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-1" />
      <div class="col-3">
        <div class="text-center">Square Prints</div>
        <div class="d-flex justify-content-between">
          <div>
            <span>Size</span>
            <ul>
              <li>4x4</li>
              <li>4x4</li>
              <li>4x4</li>
            </ul>
          </div>
          <div>
            <span>Glossy/Matte</span>
            <ul>
              <li>4x4</li>
              <li>4x4</li>
              <li>4x4</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-1" />
      <div class="col-3">
        <div class="text-center">Large Format Print</div>
        <div class="d-flex justify-content-between">
          <div>
            <span>Size</span>
            <ul>
              <li>4x4</li>
              <li>4x4</li>
              <li>4x4</li>
            </ul>
          </div>
          <div>
            <span>Glossy/Matte</span>
            <ul>
              <li>4x4</li>
              <li>4x4</li>
              <li>4x4</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 300px; width: auto; background: #333333" class="row text-center mt-5" />
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  methods: {
    logTest() {
      console.log(1)
    }
  }
}
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
</style>
