<template>
  <div>
    <div class="row">
      <div class="d-flex">
        <el-button @click="showDialog">GET MORE PHOTOS</el-button>
        <el-button class="el-button el-button el-button--css-primary el-button--medium is-plain el-button--default el-button--medium is-plain">ADD TO CART</el-button>
      </div>
    </div>
    <div class="row mt-3">
      <h5>Our delivery options</h5>
      <ul>
        <li>Ship matte, glossy, or pearl prints of any size to your door.</li>
        <li>Pick up your glossy 4x6 prints at your local retail stores in as little as an hour.</li>
      </ul>
    </div>
    <div class="row mt-3">
      <h5>Common order options</h5>
      <ul>
        <li>Changing the finish will apply to all photos below in that size.</li>
      </ul>
    </div>
    <div class="row mt-5">
      <div class="d-flex justify-content-around">
        <div>
          <span class="me-3">{{ countPhoto }} photo</span>
          <a class="text-primaryPro text-decoration-none" @click="handleDeleteAllFile">Remove all photos</a>
        </div>
        <div>
          <a class="me-3 text-primaryPro text-decoration-none" @click="showDialog">Upload Img <svg-icon icon-class="upload-file" /></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="d-flex justify-content-between">
        <el-image
          v-for="file in listFile"
          :key="file.uid"
          class="col-2"
          style="width: 12%; height: auto"
          :src="file.url"
          :lazy="true"
          :preview-src-list="[file.url]"
          :preview-src-key="file.url"
        />
        <div v-if="listFile.length > 0" class="col-10 mt-5">
          <el-input-number v-model="sizes['46']" class="w-130px" size="small" :min="1" />
        </div>
      </div>
    </div>
    <OrderImg
      ref="orderImg"
      :dialog-order-img-visible.sync="dialogOrderImgVisible"
      @fileChange="handleFileChange"
    />
  </div>
</template>

<script>
import OrderImg from '@/views/home/dialog/order_img'
import { getSize } from '@/views/home/service/order'

export default {
  name: 'Order',
  components: { OrderImg },
  data() {
    return {
      sizes: {
        46: 0
      },
      dialogOrderImgVisible: false,
      countPhoto: 0,
      listFile: [],
      listSize: []
    }
  },
  created() {
    this.getAllSize()
  },
  methods: {
    showDialog() {
      this.dialogOrderImgVisible = true
    },
    getAllSize() {
      getSize().then(response => {
        console.log(response)
      })
    },
    handleFileChange(imgs) {
      this.listFile = imgs
      this.countPhoto = this.listFile.length
    },
    handleDeleteAllFile() {
      this.$refs.orderImg.clearFile()
      this.listFile = []
      this.file = {}
      this.countPhoto = this.listFile.length
    }
  }
}
</script>

<style scoped>
.w-130px {
  width: 130px;
}
</style>
