/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-warning: #ffba00;
$--color-danger: #ff4949;
// $--color-info: #1E1E1E;

$--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  theme: $--color-primary;
}

.el-button--css-primary{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;

  width: 150px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #D74012;
  color: #D74012;
}

.el-button--css-primary:hover{
  background-color: #D74012 !important;
  color: #FFFFFF !important;
  border-color: #D74012 !important;
}


.el-button--css-info2{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  width: 150px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #909399;
  color: #909399;
}

.el-button--css-info2:hover{
  background-color: #909399 !important;
  color: #FFFFFF !important;
  border-color: #909399 !important;
}

.el-button--css-secondary{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  width: 150px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #5E2E86;
  color: #5E2E86;
}

.el-button--css-secondary:hover{
  background-color: #5e2e86c2 !important;
  color: #FFFFFF !important;
  border-color: #5E2E86 !important;
}


.el-button--css-success{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  min-width: 150px !important;
  max-width: 200px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #34B780;
  color: #34B780;
}

.el-button--css-success:hover{
  background-color: #34B780 !important;
  color: #FFFFFF !important;
  border-color: #34B780 !important;
}


.el-button--css-danger{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  width: 150px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #FF0000;
  color: #FF0000;
}

.el-button--css-danger:hover{
  background-color: #FF0000 !important;
  color: #FFFFFF !important;
  border-color: #FF0000 !important;
}

.el-button--css-info{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  width: 150px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #2E7EB7;
  color: #2E7EB7;
}

.el-button--css-info:hover{
  background-color: #2E7EB7 !important;
  color: #FFFFFF !important;
  border-color: #2E7EB7 !important;
}

.el-button--css-close{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  width: 150px !important;
  height: 40px !important;
}

.el-button--css-close:hover{
  background-color: #FFFFFF !important;
  color: red !important;
  border-color: red !important;
}

.el-button--css-import{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  background-color: #FFFFFF !important;
  color: #EF8C1A !important;
  border-color: #EF8C1A !important;
}

.el-button--css-import:hover{

  background-color: #ef8c1ac5 !important;
  color: #FFFFFF !important;
  border-color: #EF8C1A !important;
}


.el-button--css-export{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  background-color: #FFFFFF !important;
  color: #5e2e86c2 !important;
  border-color: #5E2E86 !important;
}

.el-button--css-export:hover{
  background-color: #5e2e86c2 !important;
  color: #FFFFFF !important;
  border-color: #5E2E86 !important;
}

.el-button--css-gray{
  text-transform: uppercase;
  font-weight :600;
  border-radius: 6px;
  width: 150px !important;
  height: 40px !important;
  background-color: #FFFFFF;
  border-color: #C1CAD1  ;
  color: #C1CAD1;
}

.el-button--css-gray:hover{
  background-color: #C1CAD1 !important;
  color: #FFFFFF !important;
  border-color: #C1CAD1 !important;
}
