// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    min-width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}
.loading-backgroup-success{
  background-color: #d4edda;
}
.loading-backgroup-warning{
  background-color: #fff3cd;
}
.loading-backgroup-error{
  background-color: #f8d7da;
}
.loading-backgroup-info{
  background-color: #d1ecf1;
}

.form-group {
  .errors {
    span {
      background-image: none !important;
      background-repeat: initial !important;
      padding-left: 0px !important;
    }
  }
}
.el-table .cell {
  word-break: break-word;
}
.el-input.is-disabled .el-input__inner {
  color: black !important;
  font-weight: 400;
}
