<template>
  <div>
    <el-dialog
      :visible.sync="dialogOrderImgVisible"
      :center="true"
      :height="'100%'"
      :width="'80%'"
      :show-close="false"
      :before-close.sync="closeDialog"
    >
      <h3 slot="title" class="title mt-3" style="color: #f05323"><strong>Upload ảnh</strong></h3>
      <el-upload
        ref="upload"
        action="#"
        list-type="picture-card"
        :auto-upload="false"
        :on-change="handleChange"
        :on-remove="handleRemove"
        :file-list="fileList"
      >
        <i slot="default" class="el-icon-plus" />
        <div slot="file" slot-scope="{file}">
          <img
            class="el-upload-list__item-thumbnail"
            :src="file.url"
            alt=""
          >
          <span class="el-upload-list__item-actions">
            <span
              v-if="!disabled"
              class="el-upload-list__item-delete"
              @click="handleRemove(file)"
            >
              <i class="el-icon-delete" />
            </span>
          </span>
        </div>
      </el-upload>
      <div slot="footer" class="row mt-3 mb-5">
        <div class="col-12">
          <el-button class="el-button el-button--css-info2 el-button--medium is-plain" @click="closeDialog">Đóng</el-button>
          <el-button class="el-button el-button el-button--css-primary el-button--medium is-plain el-button--default el-button--medium is-plain" @click="checkUploadImg">Đồng ý</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import baseCommon from '@/utils/base-common'

export default {
  name: 'OrderImg',
  mixins: [baseCommon],
  props: {
    dialogOrderImgVisible: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      disabled: false,
      fileList: []
    }
  },
  methods: {
    closeDialog() {
      this.$emit('update:dialogOrderImgVisible', false)
    },
    handleRemove(file) {
      this.fileList = this.fileList.filter(f => f !== file)
    },
    handleChange(file, fileList) {
      this.fileList = fileList
    },
    checkUploadImg() {
      if (this.fileList.length !== 0) {
        this.handleUpload()
      } else {
        this.notifyError('Thông báo', 'Vui lòng upload ảnh')
      }
    },
    handleUpload() {
      this.$emit('fileChange', this.fileList)
      this.closeDialog()
    },
    clearFile() {
      this.$refs.upload.clearFiles()
      this.fileList = []
    }
  }
}
</script>

<style scoped>

</style>
