<template>
  <div class="app-container bg-img">
    <el-card class="card-login">
      <ValidationObserver ref="observer" v-slot="{ handleSubmit }">
        <el-form ref="loginForm" :model="loginForm" :rules="loginRules" label-position="left">
          <div class="title-container text-center pt-2">
            <img
              src="../../assets/util_images/logo-tp-bank.png"
              class="image logo-login-custom"
            >
            <h3 class="title-form-login pt-3">Hệ Thống In Ảnh Trực Tuyến</h3>
          </div>
          <ValidationProvider
            name="username"
          >
            <el-form-item
              prop="username"
            >
              <span class="svg-container">
                Tên đăng nhập <span class="text-danger"> *</span>
              </span>
              <el-input
                ref="username"
                v-model="loginForm.username"
                placeholder="Nhập tên đăng nhập"
                name="username"
                type="text"
                tabindex="1"
                @keyup.enter.native="handleLogin()"
              />
            </el-form-item>
          </ValidationProvider>
          <ValidationProvider
            name="valiPassword"
          >
            <el-form-item
              prop="password"
            >
              <span class="svg-container">
                Mật khẩu <span class="text-danger"> *</span>
              </span>
              <el-input
                :key="passwordType"
                ref="password"
                v-model="loginForm.password"
                :type="passwordType"
                placeholder="Nhập mật khẩu"
                name="password"
                tabindex="2"
                @keyup.enter.native="handleLogin()"
              />
              <span class="show-pwd" @click="showPwd">
                <b-icon
                  font-scale="1.5"
                  :icon="
                    passwordType === 'password' ? 'eye-slash-fill' : 'eye-fill'
                  "
                />
              </span>
            </el-form-item>
          </ValidationProvider>
          <el-button
            :loading="loading"
            type="primary"
            class="btn-violet"
            style="width: 100%; margin-bottom: 30px"
            @click="handleSubmit(handleLogin)"
          >ĐĂNG NHẬP</el-button>
        </el-form>
      </ValidationObserver>
    </el-card>
  </div>
</template>

<script>
// import BaseValidate from '@/utils/BaseValidate'
import { ValidationObserver, ValidationProvider } from 'vee-validate'
import { validUsername } from '@/utils/validate'
export default {
  name: 'Login',
  components: { ValidationObserver, ValidationProvider },
  // mixins: [BaseValidate],
  data() {
    const validateUsername = (rule, value, callback) => {
      if (!validUsername(value)) {
        callback(new Error('Please enter the correct user name'))
      } else {
        callback()
      }
    }
    const validatePassword = (rule, value, callback) => {
      if (value.length < 6) {
        callback(new Error('The password can not be less than 6 digits'))
      } else {
        callback()
      }
    }

    return {
      backgroundImage: {
        backgroundImage: 'url(../../assets/util_images/login-img.png)'
      },
      logoInLogin: '../../assets/util_images/logo-tp-bank.png',

      loginForm: {
        username: '',
        password: ''
      },

      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePassword }]
      },

      passwordType: 'password',
      capsTooltip: false,
      loading: false,
      showDialog: false,
      redirect: undefined,
      otherQuery: {}
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        const query = route.query
        if (query) {
          this.redirect = query.redirect
          this.otherQuery = this.getOtherQuery(query)
        }
      },
      immediate: true
    }
  },
  created() {
    // window.addEventListener('storage', this.afterQRScan)
  },
  mounted() {
    if (this.loginForm.username === '') {
      this.$refs.username.focus()
    } else if (this.loginForm.password === '') {
      this.$refs.password.focus()
    }
  },
  destroyed() {
  },
  methods: {
    checkCapslock(e) {
      const { key } = e
      this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('user/login', this.loginForm)
            .then(() => {
              this.$router.push({ path: this.redirect || '/', query: this.otherQuery })
              this.loading = false
            })
            .catch(() => {
              this.loading = false
            })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur]
        }
        return acc
      }, {})
    }
  }
}
</script>

<style lang="scss">
// start - custom
.bg-img {
  background-image: url(../../assets/util_images/login-img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh;
}

.el-button--primary:hover{
  background-color: #602e88 !important;
  color: white !important;
  border-color: #602e88 !important;
}
.title-form-login {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  color: #602e88;
}
.card-login {
  margin-top: 12%;
  border-radius: 10px;
  margin: 12% 32% 0 32%;
}
.logo-login-custom {
  height: 5rem !important;
}
.btn-violet {
  background-color: #602e88;
}
.show-pwd {
  position: absolute;
  right: 10px;
  top: 7px;
  font-size: 16px;
  color: darkgray;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}
.b-icon.bi {
  display: inline-block;
  overflow: visible;
  vertical-align: -98%;
}
//end -custom

/* reset element-ui css */
</style>
