<template>
  <div class="app-container">
    <div class="filter">
      <el-form ref="filterForm" label-position="left">
        <div class="row">
          <div class="col-3">
            <el-form-item>
              <div class="mt-1">
                <label>Mã số thuế</label>
                <el-input v-model="search.codeTax" maxlength="20" clearable placeholder="Nhập mã số thuế" class="non-border" @keyup.enter.native="searchModel" />
              </div>
            </el-form-item>
          </div>
          <div class="col-1" />
          <div class="col-3">
            <el-form-item>
              <div class="mt-1">
                <label>Mã số đăng ký kinh doanh</label>
                <el-input v-model="search.codeReg" maxlength="20" clearable placeholder="Nhập mã số đăng ký kinh doanh" class="non-border" @keyup.enter.native="searchModel" />
              </div>
            </el-form-item>
          </div>
          <div class="col-1" />
          <div class="col d-flex">
            <el-form-item style="width: 130px">
              <div>
                <label>Mã CIF (FCC)</label>
                <el-input v-model="search.codeCif" maxlength="20" placeholder="Nhập mã CIF" clearable class="me-1 non-border" @keyup.enter.native="searchModel" />
              </div>
            </el-form-item>
            <div class="col-1 text-center mt-5">
              <span class="fw-bold">-</span>
            </div>
            <el-form-item style="width: 130px">
              <div>
                <label>Mã CIF (Tạm)</label>
                <el-input v-model="search.codeCifTemp" maxlength="20" placeholder="Nhập mã CIF" clearable class="me-1 non-border" @keyup.enter.native="searchModel" />
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <el-form-item>
              <div class="mt-1">
                <label>Loại BCTC</label>
                <el-select v-model="search.typeBCTC" placeholder="--Chọn--" filterable clearable class="form-control non-border" @keyup.enter.native="searchModel">
                  <el-option v-for="item in typeBCTC" :key="item.id" :label="item.name" :value="item.rank" />
                </el-select>
              </div>
            </el-form-item>
          </div>
          <div class="col-1" />
          <div class="col-3">
            <el-form-item>
              <div class="mt-1">
                <label>Năm BCTC</label>
                <el-input v-model="search.yearBCTC" clearable placeholder="Nhập năm BCTC" class="non-border" @keyup.enter.native="searchModel" />
              </div>
            </el-form-item>
          </div>
          <div class="col-1" />
          <div class="col">
            <el-form-item style="width: 285px">
              <div class="mt-1">
                <label>Tên đơn vị quản lý</label>
                <el-input v-model="search.nameDept" maxlength="100" clearable placeholder="Nhập tên đơn vị quản lý" class="non-border" @keyup.enter.native="searchModel" />
              </div>
            </el-form-item>
          </div>
        </div>
        <div class="row mt-2 d-flex">
          <div class="col-5 text-end ms-5">
            <button class="el-button el-button--css-secondary el-button--medium" @click="searchModel">TÌM KIẾM</button>
          </div>
          <div class="col-5 ms-5">
            <el-button class="el-button el-button--css-primary el-button--medium is-plain" @click="handleExtension">GIA HẠN</el-button>
          </div>
        </div>
        <div class="mt-5">
          <el-table
            :header-cell-style="{ background: '#F2F2F3', color: '#000000' }"
            :data="dataScoring"
            border
            fit
            style="width: 100%;"
          >
            <el-table-column
              width="100px"
              label="Thao tác"
              header-align="center"
              align="center"
            >
              <template v-if="row.isDisabled" slot-scope="{row}">
                <div class="row">
                  <div class="col-12">
                    <span class="cursor" @click="handleDelete(row)">
                      <svg-icon class="fs-1r" icon-class="delete" />
                    </span>
                  </div>
                </div>
              </template>
            </el-table-column>
            <el-table-column label="Mã số thuế" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.codeTax }}
              </template>
            </el-table-column>
            <el-table-column label="Mã số ĐKKD" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.codeReg }}
              </template>
            </el-table-column>
            <el-table-column label="Mã CIF (FCC)" width="100px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.codeCif }}
              </template>
            </el-table-column>
            <el-table-column label="Mã CIF (Tạm)" width="100px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.codeCifTemp }}
              </template>
            </el-table-column>
            <el-table-column label="Tên doanh nghiệp" width="150px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.nameCustomer }}
              </template>
            </el-table-column>
            <el-table-column label="Loại BCTC" width="150px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ convertTypeBCTCName(row.typeBCTC) }}
              </template>
            </el-table-column>
            <el-table-column label="Mã đơn vị quản lý" width="100px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.codeDept }}
              </template>
            </el-table-column>
            <el-table-column label="Tên đơn vị quản lý" width="100px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.nameDept }}
              </template>
            </el-table-column>
            <el-table-column label="Năm BCTC" width="80px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ row.yearBCTC }}
              </template>
            </el-table-column>
            <el-table-column label="Ngày tạo" width="100px" header-align="center" align="center">
              <template slot-scope="{row}">
                {{ convertDateToLocal(row.createdAt, 'DD/MM/YYYY HH:mm:ss') }}
              </template>
            </el-table-column>
          </el-table>
        </div>
      </el-form>
    </div>
  </div>
</template>

<script>
import baseCommon from '@/utils/base-common'
import { getSize } from '@/views/dashboard/adminV2/service/service'

export default {
  name: 'OrderDetail',
  mixins: [baseCommon],
  data() {
    return {
      search: {
        codeTax: null,
        codeReg: null,
        codeCif: null,
        codeCifTemp: null,
        typeBCTC: null,
        yearBCTC: null,
        nameDept: null,
        pageSize: null,
        pageIndex: null
      }
    }
  },
  created() {
    this.test()
  },
  methods: {
    test() {
      getSize().then(res => {
        console.log(res)
      })
    }
  }
}
</script>

<style scoped>
.non-border {
  border: 0 !important;
  padding: 0 !important;
}
</style>
